
@{
    ViewBag.Title = "Index";
}
<section class="admin-main">
    <div class="row">
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-pages d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-page.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="~/pages">View All</a></li>
                        <li><a href="~/pages/create">Create</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-pdf d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-pdf.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>Pdf</h3>
                    <ul>
                        <li><a href="~/pdfs">View All</a></li>
                        <li><a href="~/pdfs/create">Create</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-ext-links d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-link.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>External Links</h3>
                    <ul>
                        <li><a href="~/extlinks">View All</a></li>
                        <li><a href="~/extlinks/create">Create</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-author d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-author.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>Author</h3>
                    <ul>
                        <li><a href="~/authors">View All</a></li>
                        <li><a href="~/authors/create">Create</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-image d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-image.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>Image</h3>
                    <ul>
                        <li><a href="~/pages">View All</a></li>
                        <li><a href="~/pages/create">Create</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="admin-bl admin-bl-menu-groups d-flex bl-icon-text">
                <div class="abl-icon">
                    <span class="bg-img" data-target=".icon-bl">
                        <img class="icon-bl" src="~/Content/Images/icon-menu.png" />
                    </span>
                </div>
                <div class="abl-text">
                    <h3>Menu Groups</h3>
                    <ul>
                        <li><a href="~/Menugroups">View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


