<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Maintenance Mode</title>
    <link rel="icon" type="image/png" href="~/ExtLinks/LinkImages/@ViewBag.Favicon" />
    <style>
        .navbar-expand-md {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .company-logo {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        * {
            font-family: sans-serif;
        }

        @@media screen and (min-width:320px) and (max-width:767px) and (orientation: landscape) {
            body {
                width: 80%;
            }

            .hero-image {
                height: 80vh !important;
            }
        }

        @@media screen and (min-width:320px) and (max-width:400px) {
            body {
                width: 81%;
            }

            .hero-image {
                height: 15vh !important;
            }

            .company-logo {
                width: 10%;
            }

            .title-heading {
                font-size: 0.7rem;
            }

            p {
                font-size: 0.7rem;
            }
        }
    </style>
</head>

<body style="max-width: 900px;margin: 0 auto;">
    @RenderBody()
</body>
</html>

